Good Morning!

Last night, your sleep efficiency was {{.Efficiency}} percent.

You fell asleep at {{.StartTime}} and slept for a total of {{.TotalHoursAsleep}} hours

You woke {{.AwakeCount}} time(s) for a total of {{.AwakeDuration}} minute(s)

You were restless {{.RestlessCount}} time(s) for a total of {{.RestlessDuration}} minute(s)