<html>
  <head>
    <title>nyx</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/min/1.5/min.min.css" media="screen" />
  </head>

  <body>
    <h1>Welcome to Nyx!</h1>
    <p>Enter your email below to receive a daily sleep summary from your Fitbit device</p>
    <form method="POST" action="/login">
      <input type="email" name="email" required placeholder="Email" />
      <input type="hidden" name="state" readonly value="{{.State}}" />
      <input type="submit" />
    </form>
  </body>
</html>